:root {
  --primary-color: #fcfcfc;
  --primary-dark: #131313;
  --primary-yellow: #f8d24e;
  --primary-green: #84a178;
  --primary-whiskey: #d6936d;
  --primary-grey: #ababab;
  --black: #000000;
  --green-hover: #0a8817;
  --input-bg: rgba(248, 210, 78, 0.1);
  --tablet-menu: #97af8d;
  --mob-menu: #85a279;
  --light-grey: #d9d9d9;
  --dark-grey: #7a7a7a;
  --grey-divider: #e1e1e1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  color: var(--primary-dark);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  word-wrap: normal !important;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-left: 32px;
  padding-right: 24px;
  padding-top: 40px;
  background: #fcfcfc;
  border-radius: 24px;
  width: 280px;
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    width: 224px;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px;
    width: 368px;
  }
}

.address-item {
  font-size: 12px;
  line-height: 160%;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 24px;
  padding-bottom: 24px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 150%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
  }
}

.address-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-dark);
  margin-bottom: 20px;

  padding-left: 54px;
  background: #f8d24e;;
  border-radius: 4px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 140%;
    padding-left: 37px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 40px;
    margin-bottom: 32px;
  }
}

.address-text {
  font-weight: 500;
  line-height: 186%;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  padding-left: 32px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding-left: 40px;
  }
}

.address-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: var(--primary-whiskey)
  padding-left: 32px;
  padding-top: 8px;
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    font-size: 14px;
    padding: 24px 12px 24px 32px;
    width: 190px;
  }
}

.line {
  border: 1px solid #e1e1e1;
  width: 216px;
}

.week {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 40px;
  }
}

.week-group {
  gap: 12px;
}

.week-title {
  font-size: 12px;
  line-height: 186%;
  display: flex;
  gap: 6px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.week-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--primary-grey);
}

.contact {
  padding-left: 32px;
  padding-top: 24px;
  display: inline;
}
.contact-item {
  list-style: none;
  padding-left: 32px;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: var(--primary-dark);
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 160%;
  }
}
